<%= form_with(model: union, local: true) do |form| %>
  <% if union.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(union.errors.count, "error") %> prohibited this union from being saved:</h2>

      <ul>
      <% union.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user1 %>
    <%= form.number_field :user1 %>
  </div>

  <div class="field">
    <%= form.label :user2 %>
    <%= form.number_field :user2 %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
