<nav class="navbar">
  <section class="logo-section"><img class="logo" src="https://seeklogo.com/images/I/instagram-new-2016-glyph-logo-84CB825424-seeklogo.com.png"/>
    <%= link_to root_path do %>
    <div></div><img class="logoname" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png"/>
    <% end %>
  </section>
  <form class="search-section">
    <input class="input-search" type="search" name="search" placeholder="Buscar"/>
  </form>
  <section class="icons-section">
    <%= link_to posts_path do %>
    <i class="fa fa-compass"></i>
    <% end %>
    <%= link_to posts_path do %>
    <i class="fa fa-heart"></i>
    <% end %>
    <%= link_to_if false, {}, {} do %>
      <a href="<%= profile_path(current_user.profile.id) %>" class='fa fa-user'></a>
    <% end %>
  </section>
</nav>
