<%= stylesheet_link_tag "posts" %>
<div class="container">
  <ul class="posts">
    <% @posts.sort_by(&:created_at).reverse.each do |post|%>
    <li class="post">
      <div class="instagram-card">
    <div class="instagram-card-header">
      <img src=" <%= post.profile.profile_pic %> " class="instagram-card-user-image"/>
      <%= link_to Profile.find(post.profile.id) do %>
      <%= " #{post.profile.username}" %>
      <% end %>
      <div class="instagram-card-time">58 min</div>
    </div>

    <div class="intagram-card-image">
      <img src=" <%= post.post_img %> " height="450px" width="100%"/>
    </div>

    <div class="instagram-card-content">
      <%= render 'likebutton', post: post %>
      <p><a class="user-comment" href="<%= Profile.find(post.profile.id) %>"><%= post.profile.username %></a><%= " #{post.caption}" %></p>
      <%= render "comments/post_comments", post: post %>
    <hr>
    </div>

    <div class="instagram-card-footer">
      <%= form_tag comment_path, remote: true do %>
      <%= hidden_field_tag :post_id, post.id %>
      <%= text_field_tag :body %>
      <a class="footer-action-icons" href="#"><i class="fa fa-ellipsis-h"></i></a>
      <% end %>
    </div>

  </div>
    </li>
    <% end %>
    <!-- <li class="post">
      <div class="post-content">
        <header><a href="https://twitter.com/@kamciesla">@kamciesla </a></header><img src="https://static.pexels.com/photos/5927/food-salad-red-lunch-large.jpg"/>
        <footer> <a href="https://kamilciesla.pl"><i class="fa fa-globe"></i></a><a href="https://pl.linkedin.com/in/kamilciesla"><i class="fa fa-linkedin"></i></a><a href="https://twitter.com/@kamciesla"><i class="fa fa-twitter"></i></a><a href="https://www.behance.net/kamciesla"><i class="fa fa-behance"></i></a><a href="https://dribbble.com/kamilciesla"><i class="fa fa-dribbble"></i></a></footer>
      </div><a class="post-avatar" href="http://kamilciesla.pl"></a>
    </li> -->
  </ul>
</div>
