<%= stylesheet_link_tag "forms" %>

<div id="wrapper">
  <div class="sub-content">
    <div class="s-part">
      <img id="blah" src="http://placehold.it/200x200" alt="">
    </div>
  </div>
  <div class="main-content">
    <div class="header">
      <h1>Profile</h1>
    </div>
    <div class="l-part">
      <%= form_with(model: post, local: true) do |form| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :caption %>
        <%= form.text_area :caption, class: "input-1" %>
      </div>
      <div class="field">
        <%= form.label :image %>
        <%= form.file_field :post_img, class: "input-1", onchange: "readURL(this)" %>
      </div>

      <div class="actions">
        <%= form.submit "Post", class: "btn" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
